<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "在庫一覧", root_path, id: "logo" %> <!--エラーがでる場合<div>在庫一覧</div>にする-->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <div class="btn btn-primary">新規登録</div>
      </ul>
    </nav>
  </div>
</header>